/* ChannelNav specific styles */
.nav {
    padding: 20px 0; /* Add padding to the top and bottom of the navigation */
  }
  
  .nav__item {
    list-style: none; /* Remove list item bullets */
    margin-bottom: 10px; /* Space between navigation items */
  }
  
  /* Distinct style for the 'Modules' navigation header */
  .nav__item--header {
    font-size: 1.5em; /* Larger font size for the navigation header */
    color: #38f40e; /* Matching theme color for emphasis */
    margin-bottom: 20px; /* More space after the header item */
    text-transform: uppercase; /* Style choice to make the header stand out */
  }
  