.background-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.background-control button {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #fff; /* White text for contrast */
    background: linear-gradient(to right, #ff8c00, #1e90ff); /* Gradient from orange to blue */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s;

    /* Cyberpunk/neon glow */
    box-shadow: 0 0 10px #ff8c00, 0 0 20px #1e90ff, 0 0 40px #ff8c00, 0 0 80px #1e90ff;

    /* Animation for a gentle pulsing effect */
    animation: pulse 2s infinite alternate;
}

.background-control button:hover {
    /* Increase glow and scale on hover */
    box-shadow: 0 0 15px #ff8c00, 0 0 30px #1e90ff, 0 0 60px #ff8c00, 0 0 90px #1e90ff;
    transform: scale(1.05);
}

/* Keyframes for the pulsing glow effect */
@keyframes pulse {
    from {
        box-shadow: 0 0 10px #ff8c00, 0 0 20px #1e90ff, 0 0 40px #ff8c00, 0 0 80px #1e90ff;
    }
    to {
        box-shadow: 0 0 15px #ff4500, 0 0 30px #4169e1, 0 0 60px #ff4500, 0 0 90px #4169e1;
    }
}
.random-video-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #fff; /* White text for contrast */
    background: linear-gradient(to right, #ff8c00, #1e90ff); /* Gradient from orange to blue */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s;
}

.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .switch--active {
    background-color: #4CAF50; /* Active color */
  }
  
  .switch__handle {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
  }
  
  .switch--active .switch__handle {
    transform: translateX(25px);
  }
  
  .switch-label {
    margin-left: 10px;
    font-size: 14px;
    color: #fff; /* Adjust based on your theme */
  }