.channel-container {
  margin-top: 50px;
}

.modules-header {
  font-size: 1.5em;
  color: #29fdff; /* Matching neon blue from README */
  margin-bottom: 20px;
  padding-left: 10px;
}

.channel-link {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 1.2em;
  color: #29fdff; /* Neon blue text to match README */
  text-shadow: 0 0 5px #29fdff, 0 0 10px #29fdff; /* Adding neon text glow */
}

.channel-link:hover,
.channel-link.active {
  box-shadow: 0px 0px 15px 2px #29fdff; /* Glowing effect on hover/active */
}

.channel-link:not(.active) {
  box-shadow: 0px 0px 8px 1px #29fdff; /* Subtle glow for inactive links */
}
